body{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-family: "Bradley Hand ITC";
    font-weight: bold;
    font-size: large;
    background: linear-gradient(to right, #33CCFF 0%, #09667e 50%, #06014d 100%);

}